#blogs {
    display: flex;
    flex-wrap: wrap;
}

#members {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.inline {
    display: inline;
}

.btnbanner {
    width: 30vw;
    margin-bottom: 2vh;
}

.center {
    margin: 0 auto;
}

.avatar {
    max-width: 50px;
    max-height: 50px;
}

.banner {
    min-width: 25%;
    min-height: 10vh;
    max-width: 60vw;
    max-height: 40vh;
}

.banner-div {
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .iframe {
        height: 250px;
        width: 400px;
    }
}