<% include ../partials/header.ejs %>

<div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="contactForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="contactForm">Contact Form</h4>
            </div>
            <div class="modal-body">
                <div class="new-form">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" name="firstName" placeholder="John">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="lastName" placeholder="Doe">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="johndoe@gmail.com">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="text" placeholder="Insert input here..." rows="5" cols="70"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1 class="text-center">NobodyMC</h1>
    <p class="text-center">This is the official NobodyMC server website. Check out our blog posts, videos, and resources, or contact us with your input and/or video ideas. Thanks!</p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://lh3.googleusercontent.com/XmYaR4ATMaK_nLyqX4W17Otoyqd243BTzlIzFKhF4nVYfUhzj7fEtxiKrZUosJf7UxmX-kXfIqBkEhSM1jaaRGzHXZ2Ard6B5yTOBqBOA_nrN6-YyqJuiquiVtlg3AQQE9lLa5j6h0YOXBj1MLWEwOqVY8SCgPvhgbq97zTyPwGMqyJHvZ4ZHdSPw29nE5zvliCdpDVyW7e7DIgRqY6zUlL__udICJuls-wev6F0uXJi0sf_Yekk918v6cDoHtukvW9Tgz8d89JqEF3KY1Y-LwdgVz5asX_fYhBoOuPVd_ILSy1X_a79hfkvCq6oCMhN4JuhKdQ9PHKa_zwXPpYwiZSxux3p3O_d08TJxywABCA3_OJCMmdQc8StIXdm-yIF8FDUIE6_9RJmwojgy074m0Czt76WU0F-6cjycon3a4F3xgTWrI_y2E-QtEpdZ6Z-WKmR-pIgM58ojaTc4QkETXghEPV_mh2wUIfPv4GIBkBGr8dUHw7jEajVHBTgEhBNF-px5DHfdNAX24VE-22L0bZooFBhAZ955e_AMkdY8NE9f6RFOUHhjKS7gSsUZuQlkPk1NwHw7iKkiQ16lbh30O47yhVV6NGnebGjXL5pxVJKgLYxyDbHQIL11haUuznx50vHUo0K1nMOTxNbYp4nEcGkzVzdds0=w800-h600-no" alt="about us">
                <div class="caption">
                    <h4>About Us</h4>
                </div>
                <p>
                    <a href="/about" class="btn btn-primary">View Server Info</a> 
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://lh3.googleusercontent.com/AHAvYgkSOb4Ffpat4FLNctyex8PFb-s0N-wWotti2uT0UB52YRRa5vSJ2nngouWRELsTGZDSyNeHzB5WsnCUfxB-AMiNb6ASZFY7d3lkF2_1JRLLFBCg3nH46jxdIqCmY6hQxDzUMpNTIyf37pdmrleuzhUDRGsjlFfTPVfB5cZvb7YOoM_zWN2uxhATGl3EssqMV68Yme4LryzB0Sf6QFzuIH-n7cXUt7RbQloeqJroiQOAlizBkGwttOUM5KBKd5fNUndYpM6JPBASJ_BUUVPSYBC4QNVQXroEYGcPzwHn-1UOCSOwavqu3Dg4trnCyuXgvxJ8azkIyK7P9GQXIlE1WGZAtaEsO4xwVBvPoe_uVM7ZR5WGKAHcVvsTwvxScWkb-TPWJAClkdzIobiM5c1CDRxz-xbU5ZxKTNhGBxiWPY8kwIOMwntEvK472TEDbgVXia2yw5XhPGQSkvSI9BCs7pYMvL6WNJ7x_vUTtU9M3Oj13RTU89s3Pm75ePbFLtcfH_Ebr9Qme7I3qVpzinx5djfzeP6IAzgu5m1xq26rQbEr5-1BJx5AMsCJL59mZYO5Ljd5O7HGsJTQhdu9HrH5BDkzD4x15mK5cWUXNBPlalUzF9n10hqlAY495OnoX5NX3o56sC9caq-jtB0t1jRQiZrpDPA=w800-h600-no" alt="member list">
                <div class="caption">
                    <h4>Members</h4>
                </div>
                <p>
                    <a href="/members" class="btn btn-primary">View Member List</a> 
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://lh3.googleusercontent.com/gXv8841Ap3Xzc9ymvMj07mQBCwwH3cqp7mZWaTANS4Pal1TSNFZD3PtJ4nPD5Max4zM8iuo7H7ZUcl5lN-yt7i8oLxIazUI8Qc2d-hhE-CcgVguvrC_04leTiAMGQW4cG1XzGoy_0DTjdaL_rdhkj1b7T9bAxphA3g9ol5T4MwXrJSQW1x_osdlU0CZ5Ad30ZJOEpfZznrjalFLZkEHpLOoxbQaia7UrX5Z9TYgpwCVQDcooQlmLHISyhuyYOhETizFdHObLdcDKVB_q_bzgNMhRgOVO5EQ946vW1Wn8ii4cNUdIQx2jpPTFq21NhNnVNf3Vdcim51j7q8V4BCc-jKXsB6XFf-rH3RvCDpX799hAmLNCpeWWK9wdIutbBXZdYw5OZqQOW7YbioSCHpzD0DUdXEDh0qp_-KUO3ZLJLW3yrG1F19wgX1z-qkORcw72yhpcckSOPq9d2KXbVCTV6axjl3-p2JbCT4T7Dn2qWA1Q0J2lywKKAlLexWAscTzsrQfIRTBN1qK6LFrji6T93kEvNlpvurRHpCcfJb7izGTUsjrUAG-rpWdcduXp8aOZ3Ca8RguptFjzijI9-8CpGHOSOVFELMg9OlmFbjuv0vSKbbsQRr34m8dywNHXHJ8tTzw-3A-Jtht2wIIAH34y32HEp_tXpgo=w800-h600-no" alt="resources">
                <div class="caption">
                    <h4>Resources</h4>
                </div>
                <p>
                    <a href="/resources" class="btn btn-primary">View Resource List</a> 
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://lh3.googleusercontent.com/6Zrm0QiMHz2vxadM-zpj0uxbXiuYwIbySwBqXu6rHX9mvRWPjFsWxuNWg-zbzIjfJyf606WYQ06TDTim3mWotdhN9anap-oE2WcngEZcAE2TMK8tSr8b9qE270IdZKRJyLjfPf2HibyIS2Am9oZmiNFBx5nhUAbHZs3eqn_7SuIdNF8Cu0Cpxjitj5DAEU71W5mOQHkyMNDQ3q3Sirf865Zmx0yqK8OMIuW1A86PIkMlY87r1rsXA8kHcX7OgEynoPgQxduhRrVt2QZPQNvdNU4fNLxvi9kvq1bKxVkxATBWE5CKmTjUA-6ZAouWRNx-YzYpFIq14h4C_5DAwV2hOPpsUX5fnge9fbXXM0RzexCa6RqBdNH_LlLbA1FouFHL9a-Qxgcg2jXcif72T9SZzIaR2WygABrk6coSBZvJ1sBhpnXWBZB57LRoAEtpGy_fyHYWvkDnOdyOJ0xcczPxZ0pGA6n6P5bf58uGHBJhNJKhNtATCGEGWq6ovTlhWi2APKIwKHyCHwMpxBjU7qQ5migVJWBjli2XtY_A79dqxPOsUtzSlBOVjBqM231XsALN-jShp58HkfLP2tuWiRuwIAD2l4Ls1-DynAG-V_dSR_QpsddUnjQBBqkWsLUySdMHGSgv88GFZ9czWxF0jvNyA89e7X4ahVk=w800-h600-no" alt="contact form">
                <div class="caption">
                    <h4>Contact Us</h4>
                </div>
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactForm">
                        View Contact Form
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>