<% include ../partials/header.ejs %>

<h1>Member list:</h1>

<div class="row" id="members">
    <div style="margin-top: 15px;" class="media col-md-4 col-sm-6">
        <div class="media-left">
            <img width="100" height="100" class="media-object" src="https://lh3.googleusercontent.com/BiSgfyHEkUZDZeQLz9k9uOkM3jUPckn4t7WZmvpgFTZtcIaeR1gmEbhWzv8JSoYtuXJEqUDMpuwx8B4GualSiLzuLOVMoH6IX6V-tY4C-dE4Xq-zZh_uPrUuj4EBC-mPAnJqXIjPbgY0s_-obqwH6i1d3pIZ0R6YhJbmxYltW7Mwvs-4gMWesydbderIZy3tfTRFVVZhAPpis04srz4GVYyYlRsVstv1VReA0nIBrg5oLumS3Xhb0pJd8j8sTEwjfuujQj_pP5OAgchKfSDAlBBObrbnlk_NYmdk1325lsKfQkjK9unkppuu0ir3FVo2C_JlLfVQvTXNC81Gy9b2qKBMzUfWxMBL23-4QkAheLph3L4CmDVO7vFA8zd0kj7CiB4GN3QPnB6Fu2UyieDDWMAcdK8f-oMC4RFFoXMcQDEZRW9kijLMXLASVnTdsn3X0Wt6yav5NgykTxTYN_HWLRb-X0cNnDwsoCcHCfyYkY71iTNw5gJRVg6hVsMLsnVIZgOdWMXYkWM6KypkpVDppi0WOCN_G8kDDOK5HKaghpCBA42OY6i9OHNvQ9XTrcgwT3PrZcyzrSgquV0YKxdS5Z_CGLmAWOAsQNXDTfaIqvobkjB_vY7ksgpoPWRAMlqRoMDM2HRh5vUxC59jeiH83LDuUC2xKOA=s300-no" alt="Mr_Nobody1166">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Mr_Nobody1166</h4>
            <p>The pro of pros.</p>
        </div>
    </div>

    <div class="media col-md-4 col-sm-6">
        <div class="media-left">
            <img width="100" height="100" class="media-object" src="https://lh3.googleusercontent.com/JBgOt2P9xiH6y4s9rZQw1WlV1CtbWyucHRQ2LkxJHhvWhD8DBVPutJPBkjoaRtXyPMp-UKGLxgzYttc9oO2Kdr8vfilaO7lvSfHEFiWLeUMnvO8l-uwHw4NzBWRd28Eqz940ij2wpsNopN5lyOFb7NmX7W1PiIF3sdqF7H-tYuwKqUNOtKhg-9jXaMcwGYt4YDV6Ddr7IseeIgmPTkaUGGbsWKZQE3Ey3us3zFLDLnf2Un_EyK4VOmu-OE-FGp3CUbLYNIoK8Wju0fTC2ccQugBPZUoKT__xHFa192uNv_lUvf3fRPcO6EtJqrrAXkM0jY_3PVtVSw9Vwrlg-a9Dsa7K8W33aLSyyyKyNG6jNOagLHFM0tciZ6abJLfIAJO7wX3EHmnlNdFS8fD6ivtKi-1fcRyoT37T3v9y4TjRLBsQeYrl-hbMpKTgKePQkA5RMuWcpKFwCPmaMeqP4CKyFAvKT9lxNqjqn5ptGKgzog9h6HC_Sbx_npQ22kY9Z4y0DnCklHaPu3oz4cpCV9R_JaqOjLUk5md3yzWF6OHNIXppDYiueofqVHMLpWKlwIXyXQeVyBRxw_m9V0g7QVpra5O2OoHR-vWoDuXfUfjNpoNniQenb4uDFmmtWnVQm889uleKt2diA1VYOAdCS35URnz9zDgNG0E=s300-no" alt="StinkySock2000">
        </div>
        <div class="media-body">
            <h4 class="media-heading">StinkySock2000</h4>
            <p>The noob of noobs.</p>
        </div>
    </div>

    <div class="media col-md-4 col-sm-6">
        <div class="media-left">
            <img width="100" height="100" class="media-object" src="https://lh3.googleusercontent.com/MOL5maLSr4dnD09zAzyeI02n4MvDiW1eFctKEfaLabrvgCiPodf80u2BrPgp6xtYdBxszPIZnBlDrmRhUJq7092o4y1HwSXFirBX9RBVcJNksuVY_KLilKXlh2xNX7o_c9e9ddJnUx66YfhanD_iOQZEGpdnI2T6UEy16GZngpynyQWyAVh7sNW9MkSzcbpHiRcFXRd9i8kt0vAzaGzGqTNVrGa-wJeB1lanrZ37Yhyb6UepBsQIVg9d9xzEo9y90GDtnBnxsVnMoLTRYOdcAEwWbjlvths9K6tkDoLJ0qfw62V-seh0cBB_QRsUJR6GmsaR3wqrimKC8i6FbD7ezzviBA0E-msqygcYAYEXPfT4CCZ8IXWscD6S1xnpFEQ7YNz34hl9XtjiUfAXBXp_v47FSxaxMxtfgTZFVJnTVhSkKusQ30Zo7207lXDGQVZW5vPYXLwoZuoUyOL0R6aYxx79KuAZW2lGS0CmQnIzWCoYBt1xBYtkb04ceipBrPIcUDYU9kdftDMDDEm2XrY-00BZt-w9lvjP7_SAw6u9LJRLa0eEM2t3MqBpgWp3SQmox6-2njakEksBr6CWSvcl-e_idnwvl2DguYrqZsbzx65IuM3Nzl5iD_DOh1Sy0sN5iCH-zryKmDAJF9ddTJcf44kVOBDoKgSfRbKYBREBub7_NKtT_CQScw=s300-no" alt="ChocolateLatte13">
        </div>
        <div class="media-body">
            <h4 class="media-heading">ChocolateLatte13</h4>
            <p>The only girl.</p>
        </div>
    </div>

    <div class="media col-md-4 col-sm-6">
        <div class="media-left">
            <img width="100" height="100" class="media-object" src="https://lh3.googleusercontent.com/c2q9K0gU57ZRoH9CfXYaB4M7RDGv2lWedWnz-Gy__F12A0UVxt3Iom-LtGrBudpVAa18unbpiEv6X4HVP1TodCfU65lMVDAZPG0jodcO1VM_16Sgc5cAPCLHl0e-LVtZc-Qc2UKSUwTVUxrXqXr5xgdlkkEVMGQRfgUs9RvRrWsHcig51qvhTIXfmN7TsaErnbVlPWVOf_lkgytWgxP-2bOumsjd_ycUDC6f6sEcQ7Wa_h3-66comGIIr8w-HtI6TQ-NKVio-bLbNs3b4r3_gq04OeG6DEhTReXI2S806-Y7KegZL5tWR7IYxXLHWYnJ1kzGGNt52tWP5z566buAD2NTlihs1z41rYTyfSTiQqU5Tz3dCqMs5q7EtoIGrSQpr0hAeEh8rN1mT8u6SbuQJ9fQgcjYZ4l-ymTjvTIPdxCoZvz_yee-qBN4u6AWQt8iVBe6PvFrOT3o2gyhseSL0DPRs6-zBrDn9efDSrGadMQwBK9nuuVbLmDZO-M_PAbd9II2wwtwT0TMJP2kAMzDyOQkBn1sueTJaRL99HfVI3QvMrHOX9AXZ5iKWqXWbKlDLOHUa33YndZaCAXk4NFBE9MyZ6xaaFM20sDVPpDI5v9DwW3oy_hbwQyDwVr3pL69EIRx0iR5H-ie3PCkk5kJxfxBrVWtIQ9Kon2l4K8vhfGUpt4vTIbDhw=s300-no" alt="MrRigidX">
        </div>
        <div class="media-body">
            <h4 class="media-heading">MrRigidX</h4>
            <p>The Fortnite player.</p>
        </div>
    </div>

    <div class="media col-md-4 col-sm-6">
        <div class="media-left">
            <img width="100" height="100" class="media-object" src="https://lh3.googleusercontent.com/wGzJBQajbco5d0QXxLwdfagVa1S9CgMC-j6ZWdEcWySOeuqSZcApEP_am7uRPTNA_FKg3kn-D6VkZ1ycHrkxwq2alWM_yjmTjU8TFP1e4zrZ0UdeIb5wuuWSu9EBjIvyBhbss4CLD-qvCgwsY82La-A-N6q4OrLrZIvcLTgJvwM0rZlcCCPRDh_GYXoVWvOsEqR-8D7ZFS7GuW97wnZ_B4vvw1VpxHy2LCjst_Z0w6CvX1OBtoslWHzSinXkJwh32N097ZUZEgK8WiZwduvr2ZvUZ6wbOe32i5X1MEFLkwTFqGjBB7QsdFlC0alpzNPFuUl9DabpKUv_aH2Qr0ezUQA_gS4WmruYBFfgahWAiCK2rlPLk4CgG3ruUVlP_h-lSeEWSnD1CiIPHnUHvysojV1O1gKIZwo73nKZXUCL9YOKpbrM6gFLY6VPuNeISCMdRx4rW7WC5JmgGD_olRxtV8GWXAaCCdoeH_Up6Ts5FomrRT9Am4831K2AwYukpImIVUY9-hZ7m2gfoYokpKU1bhFlBgL1eLluaiOGOIuyQVYuxDojoNnb7ZK5eDnI-7dH3tvyfkgLY3ZkX-v-poVhnacz6TYgskmfzonYfAn0TSQ-N3X7IREY-ogf0cG6x7udJLJngQ4i-P8Hw7hsDYnInIVgtV45XqghKVWdmI5K4zbnt7GyTdRsqg=s300-no" alt="Star_espeoz">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Sergeant_Pika</h4>
            <p>The Modder.</p>
        </div>
    </div>    
</div>


<% include ../partials/footer.ejs %>