<% include ../partials/header.ejs %>

<img class="img-responsive center-block" src="https://lh3.googleusercontent.com/TgQDzGnbWfOMNcXtfZtGQ3Uw6TDOa60qokIuIbhBCl8iT_568wil74AXkJwBssKGeL6EQestJTVRotS9GYpB8qfsz5uDJTMD3e9Hz5G3Ft1h229oCuCCjrkspB-7BmUykI6OrZ9EAoychJAVDThwXVKwtmNpU0XGXFFUR5ct-uqGYGqQs-E9DllQr86ukMg3aFamNqfdBc-cYW2CyBA6axe0NDajbOnqNkQ1gas42mUEqkThu0LLhVW7ADC4fqozJPeLmo02OjTPVZnjD8JOR5zUfFT4gSzmwUTmkts16oNPBxiKe4TJX--LAtOgyySaivCccV4MtfwX9cQfwOXhh1E5wLV6EAQjZc61OGJycSlYYKwDzq_A5gt57uINFgZEwHTMTAYuURUStWC7pVzxmFIbob6thgjUY6R_VqWW28RTXxROFJZyeac_S7ru9-ELP3vQwd3nCY6rz70azrGwFpPwC1bQZ11a0onqQKytdsYUnNTFzjcyCkT267Ih3vM3l81BjjWyE5Kg1Fh3em-2088_C_RZQrpKSxoglxtStCAPCtcKEy9baOS-guTlv-xk6EL6v7ZLIP8ABODyNpFT7xerIvHO4u0BZqcIuFKIypDxPYEt61npS181_ak4iMDTIxDawZO6mhG0aGLDXsVctBEioIyQauI=w709-h296-no" alt="server info">

<h3>Social Media:</h3>
<div class="list-group">
    <a target="_blank" href="https://www.instagram.com/teamnobodymc" class="list-group-item">Team NobodyMC (Instagram)</a>
</div>

<div class="list-group">
    <a target="_blank" href="https://www.youtube.com/channel/UCC9vVRog1KJNTeGtJBSdclQ" class="list-group-item">Mr Nobody (YouTube)</a>
    <a target="_blank" href="https://hypixel.net/members/mr_nobody1166.1858590/" class="list-group-item">Mr_Nobody1166 (Hypixel)</a>
</div>

<div class="list-group">
    <a target="_blank" href="https://www.youtube.com/channel/UCUhzwDLkC_BmhnmDgU2rsLQ" class="list-group-item">RigidX (YouTube)</a>
    <a target="_blank" href="https://instagram.com/dd.rigidx" class="list-group-item">RigidX (Instagram)</a>
</div>

<div class="list-group">
    <a target="_blank" href="https://www.youtube.com/channel/UCPAoHqFG7Kesf1fYimlSaow" class="list-group-item">Sergeant_Pika (YouTube)</a>  
</div>

<hr style="border-color: black">

<h3>World Downloads:</h3>

<div class="list-group">
    <a target="_blank" href="https://drive.google.com/file/d/1SBkF6mg_QRdShfzYf2Bht9smwPU-2jLl/view?usp=sharing" class="list-group-item">NobodyMC Pre-Season 1</a>
</div>

<% include ../partials/footer.ejs %>